<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cn.mpush.phonegap.mPushPlugin"
        version="1.6.0">

    <name>MPush Plugin</name>
    <description>MPush for cordova plugin</description>
    <author>MPush</author>
    <keywords>timPlugin,MPush,push</keywords>
    <license>Apache 2.0 License</license>

    <engines>
        <engine name="cordova" version=">=3.0"/>
    </engines>

    <js-module src="www/timPlugin.js" name="MPushPlugin">
        <clobbers target="window.plugins.mPushPlugin"/>
    </js-module>

    <platform name="ios">
        <header-file src="src/ios/Plugins/MPushPlugin.h"/>
        <source-file src="src/ios/Plugins/MPushPlugin.m"/>

        <header-file src="src/ios/lib/PushManager.h"/>
        <source-file src="src/ios/lib/libPushManager.a" framework="true"/>


        <framework src="CFNetwork.framework" weak="true"/>
        <framework src="CoreFoundation.framework" weak="true"/>
        <framework src="SystemConfiguration.framework" weak="true"/>
        <framework src="CoreGraphics.framework" weak="true"/>
        <framework src="Foundation.framework" weak="true"/>
        <framework src="UIKit.framework" weak="true"/>
        <framework src="CoreTelephony.framework" weak="true"/>
        <framework src="Security.framework" weak="true"/>
        <framework src="libz.dylib" weak="true"/>

    </platform>

</plugin>
